@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
    --Softred: hsl(14, 88%, 65%);
    --Softviolet: hsl(273, 75%, 66%);
    --Softblue: hsl(240, 73%, 65%);
    --Verydarkgrayishblue: hsl(237, 12%, 33%);
    --Darkgrayishblue: hsl(240, 6%, 50%);
    --Lightgrayishblue: hsl(240, 5%, 91%);
    --White: #fff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100%;
    font-size: .75rem;
    background: linear-gradient(180deg, var(--Softviolet), var(--Softblue));
    font-family: 'Kumbh Sans', sans-serif;
}

.card-container {
    width: 20.625rem;
    min-height:33.625rem;
    margin: 9.125rem auto 1.875rem;
    border-radius: 1.5rem;
    background-color: var(--White);
    box-shadow: 0 .625rem 2.5rem var(--Verydarkdesaturatedblue);
    padding: 1.5rem;
}

.card-container__s1__image {
    width: 15rem;
    display: block;
    margin: -135px auto 0;
}

.card-container__s1-image-shadow {
    width: 15rem;
    content: url(./images/bg-pattern-mobile.svg);
    margin: -75px auto 0;
}

.attribution { 
    font-weight: 700;
    font-size: 12px; 
    text-align: center; 
}

.attribution a {
    margin: 0;
    width: 20.625rem;
    color: antiquewhite;
    text-decoration: none;
}

.card-container__s2-title {
    margin: 24px 0 30px;
    text-align: center;
    font-size: 2rem;
}

.card-container__s2-details {
    margin: 1rem 0;
    font-size: 0.875rem;
    position: relative;
}

.card-container__s2-details[open] {
    font-weight: 700;
}

.card-container__s2-summary {
    list-style: none;
}

.card-container__s2-paragraph {
    font-weight: 400;
    color: var(--Verydarkgrayishblue);
    margin: .9375rem 0;
    font-size: 14px;
}

.card-container__s2-details-icon {
    position: absolute;
    right: .3125rem;
}

.card-container__s2-details[open] .card-container__s2-details-icon {
    transform: rotate(180deg);
}
